.heading {
  width: 100%;
  height: 400px;
  background-image: url(../img/heading.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #003366;
}

.heading h1 {
  color: #fff;
  padding-top: 300px;
  text-align: center;
  font-size: 50px;
  width: 100%;
}

body {
  background-image: url(../img/metal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #999;
}

img {
  padding-top: 50px;
  width: 100%;
}
